html {
    width: 100%;
    height: 100%; 
}
body {
    background-color: darkslategray;
    height: 100vp; 
    font-family: 'Titillium Web', sans-serif;
    margin: 0; 
}
.midbox {
    background-color: white;
    box-shadow: 7px 10px 182px -8px rgba(0,0,0,0.75);
    position: absolute;
    width: 60%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
}
#name { 
    position: absolute;
    left: 50%;
    top 500px;
}
#inputBox {
    position: absolute;
    top: 40px;
    left: 49%;
    
}
.score, .current { 
    width: 100px;
    height: 100px; 
    text-align: cetner; 
    margin: auto;
}
p {
    padding: 80px;
    padding-bottom: 0px; 
    font-size: 40px;
}
.score {
    font-size: 100px; 
    margin-bottom: 50px; 
}
.playerBox-0, .playerBox-1 { 
    width: 50%;
    display: inline-block; 
    text-align: center;  
}
.playerBox-1 {
    float: right; 
    margin: 0px; 
}
.active {
    font-weight: bold; 
    background: linear-gradient(0deg, rgba(255,255,255,0.08476894175639005) 0%, rgba(249,0,0,0.3816877092633929) 100%);
    color: red; 
}
.current {
    margin-bottom: 50px; 
    font-size: 20px; 
}
#current-score-1, #current-score-0 {
    font-size: 50px; 
}
.btn {
    position: absolute;
    left: 46%; 
    border: none; 
    cursor: pointer; 
}
#newGame {
    margin: auto;
    top: 20px; 
}
#hold {
    top: 400px;
    left: 48%; 
}
#roll {
    top: 300px;
    cursor: pointer; 
}
.btn:active {
    font-weight: bold; 
}
.dice {
    position: absolute; 
    top: 200px;
    box-shadow: 0px 0px 152px 1px rgba(0,0,0,0.4);
    height: 80px;
    left: 45%; 
}
