html {
    width: 100%;
    height: 100%; 
}
body {
    background-image: url('images/background.jpg');
    height: 100vp; 
    font-family: 'Titillium Web', sans-serif;
    margin: 0; 
}
.midbox {
    background-color: white;
    box-shadow: 7px 10px 182px -8px rgba(0,0,0,0.75);
    position: absolute;
    width: 60vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;  
    display: flex;
    font-family: 'Lato', sans-serif;
}
#name { 
    left: 50%;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
#inputBox {
    position: absolute;
    top: 70vh;
    left : calc(50% - 25px);
    width: 50px;
}
.score, .current { 
    width: 100px;
    height: 100px; 
    text-align: cetner; 
    margin: auto;
}
p {
    padding-bottom: 0px; 
    font-size: 40px;
}
.score {
    font-size: 100px; 
    margin-bottom: 50px; 
}
.playerBox-0, .playerBox-1 { 
    text-align: center;
    width: 50%; 
    padding: 100px;
}

.active {
    font-weight: bold; 
    /* box-shadow: inset -69px 0px 217px -86px rgba(0,0,0,0.45); */
    background-color: rgba(147, 147, 147, 0.50);
    color: red; 
}
.current {
    margin-bottom: 50px; 
    font-size: 20px; 
}
#current-score-1, #current-score-0 {
    font-size: 50px; 
    padding: 20px;
}
.btn {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background:  transparent;
    position: absolute;
    border: none; 
    cursor: pointer; 
    color: black;
    text-align: center;
    outline: none;
    text-decoration: none;
}
#newGame {
    margin: auto;
    top: 20px; 
    width: 200px;
    left: calc(50% - 100px);
}
#hold {
    top: 400px;
    width: 100px;
    left: calc(50% - 50px);
}
#roll {
    top: 40vh;
    cursor: pointer;  
    width: 200px;
    left: calc(50% - 100px);
}
.btn:active {
    font-weight: bolder; 
}
.dice {
    position: absolute; 
    top: 20vh;
    box-shadow: 0px 0px 152px 15px rgba(0,0,0,0.4);
    height: 100px;
    width: 100px;
    right: calc(50% - 50px); 
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .midbox{
        width: 100%;
        height: 100%;
    }
}